{% load static %}
<!-- base.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/images/favicon.png">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>

<body>
    <div class="sidebar">
        <div class="logo">
            <img src="{% static 'images/RedSpear_red_logo.png' %}" alt="Project Logo">
        </div>
        <nav>
            <ul>
                <li>
                    <img src="{% static 'images/home.png' %}" class="icons"><br>
                    <a href="{% url 'home' %}">Home</a>
                </li>

                <li>
                    <img src="{% static 'images/dashboard.png' %}" class="icons"><br>
                    <a href="{% url 'dashboard' %}" class="dashboardLabel">Dashboard</a>
                </li>

                <li>
                    <img src="{% static 'images/logout.png' %}" class="icons"
                        onclick="document.getElementById('logoutForm').submit();">
                    <form id="logoutForm" action="{% url 'logoutuser' %}" method="post">
                        {% csrf_token %}
                    </form>
                    <p class="logoutLabel">Logout</p>
                </li>
            </ul>
            
        </nav>
        <div class="user">
            {% if user.is_authenticated %}
            <i>Logged in as</i>: <b>[{{ user.username }}]</b>
            {% else %}
            <!-- Handle if user is not authenticated -->
            {% endif %}
        </div>
    </div>

    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>

</html>