{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}" type="text/css" media="screen">
    <title>Dashboard</title>

</head>

<body>
    <nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center ">
        <img src="{% static 'images/RedSpear_red_logo.png' %}" class="logo"><br><br><br>
        <a href="{% url 'home' %}"> <img src="{% static 'images/home.png' %}" class="home"> </a><br>
        <p>HOME</p><br>
        <a href="{% url 'dashboard' %}"> <img src="{% static 'images/dashboard.png' %}" class="dash"> </a><br>
        <p>DASHBOARD</p><br>
        <a href="{% url 'signin' %}"> <img src="{% static 'images/logout.png' %}" class="logout"> </a><br>
        <p>LOGOUT</p><br>
    </nav>

    <div class="optionsbar">
        <a href="{% url 'scan_tool' %}">
            <img src="{% static 'images/fullscan.png' %}" class="fullscan"
                style="margin-top:15%; width:8%; height:8%; margin-left:31%;">
        </a>

        <a href="{% url 'index' %}">
            <img src="{% static 'images/computer.png' %}" class="scan"
                style="top:15%; width:8%; height:8%; margin-left:10%;">
        </a>

        <a href="{% url 'cve_descriptor' %}">
            <img src="{% static 'images/cve_record.png' %}" class="scan"
                style="top:15%; width:8%; height:8%; margin-left:10%;">
        </a>

    </div>


    <div class="labels">
        <p class="fullscanlabel" style="position:relative;margin-top: 1%; margin-left:33%;">Full Scan</p>
        <p class="livehostlabel" style="position:relative;margin-top: 1%; margin-left:12%;">Live Hosts Scan</p>
        <p class="cvelabel" style="position:relative;margin-left:11%;">CVE Description</p>

    </div>


</body>

</html>