{% extends 'toolkit/base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}" type="text/css" media="screen">

<title>
    {% block title %}
    Dashboard - RedTeam Toolkit
    {% endblock %}
</title>

<div class="optionsbar">
    <a href="{% url 'scan_tool' %}">
        <img src="{% static 'images/fullscan.png' %}" class="fullscan" style="width:8%; height:8%; margin-left:15%;">
    </a>

    <a href="{% url 'index' %}">
        <img src="{% static 'images/computer.png' %}" class="scan" style="width:8%; height:8%; margin-left:10%;">
    </a>

    <a href="{% url 'cve_descriptor' %}">
        <img src="{% static 'images/cve_record.png' %}" class="scan" style="width:8%; height:8%; margin-left:10%;">
    </a>

    <a href="{% url 'scan_form' %}">
        <img src="{% static 'images/dirscan_logo.png' %}" class="scan" style="top:15%; width: 8%; margin-left: 10%;">
    </a>

</div><br>


<div class="Iconlabels">

    <p style="width:8%; height:8%; margin-left:17%;">Full Scan</p>
    <p style="width:8%; height:8%; margin-left:13%;">Live Host Scan</p>
    <p style="width:8%; height:8%; margin-left:9%;">CVE Descriptor</p>
    <p style="width:8%; height:8%; margin-left:11%;">Directory Scan</p>
</div>


{% endblock %}