{% extends 'toolkit/base.html' %}


{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/index.css' %}" type="text/css" media="screen">
<title>
    {% block title %}
    Live Host Scan - RedTeam Toolkit
    {% endblock %}
</title>

<div class="main-content">
    <h1>Live Host Scan</h1>

    <form class="index-form" action="{% url 'scan' %}" method="post">
        {% csrf_token %}
        <label for="ip">Enter IP Address:</label>
        <input type="text" id="ip" name="ip" required>
        <button type="submit">Scan</button>
    </form>
</div>

{% endblock %}